---
layout: main
title: Post Archives
pagination:
    data: collections.posts
    size: 20
    alias: posts
    reverse: true
---
<div class="blog-page">
<h1>All Articles</h1>
<div>
{% for post in posts %}
    
        <div class="post-list-render">
            <a href="{{ post.url }}"> <h2 className="post-title">{{post.data.title}}</h2></a>
            {% if post.excerpt %}
                <p>{{post.excerpt}}</p>
            {% endif %}
            <p class="post-date">{{ post.date | date: "%b %d, %Y"}}</p>
        </div>
    
{% endfor %}
</div>
<p>
    {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
    {% else %}
    Previous
    {% endif %} / 
    {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
    {% else %}
    Next
    {% endif %}
</p>
</div>