--- 
title: Justin Hunter | @polluterofminds
description: A site focused on product, technology, entrepreneurship, and writing
coverImg: /images/companion.png
favicon: /images/companion.png
type: website
---
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style/app.css" />
    <meta property="og:title" content="Justin Hunter | @polluterofminds" />
    <meta property="og:description" content="A site focused on product, technology, entrepreneurship, and writing" />
    <meta property="og:image" content={{coverImg}} />
    <meta property="og:type" content={{type}} />
    <link rel="shortcut icon" type="image/png" href={{favicon}} />
  </head>
  <body>
    <div class="header flex-row">
        <div>
            <a class="logo" href="/"><h2>{{site.author.name}}</h2></a>          
        </div>
        <div class="links">
            <a href="/blog">Blog</a>
            <a href="/work">Work</a>
            <a href="/media">Speaking</a>
            <a href="/about">About</a>
        </div>
    </div>
    <div class="content">
      {{content}}
    </div>
    <footer>
      {% comment %} <p>
        Created by
        {{site.author.name}}, follow them on
        <a href="https://twitter.com/{{site.author.twitter}}">Twitter</a>.
      </p> {% endcomment %}
    </footer>
  </body>
</html>